.getstarted-form{
  width: 68%;
  max-width: 950px;
  margin: 0 auto;
}

.getstarted-form-row{
  display: grid;
  grid-template-columns: 65% 35%;
}

.getstarted-form > h3{
  font-weight: normal;
  margin-bottom: 1rem;
  margin-inline: 1rem;
  text-align: center;
}

.invalid-label{
  color: #ffa00a;
  margin: .5rem .2rem;
}

.get-started-button{
  border: none;
  background-color: var(--primary);
  color: #fff;
  margin-left: auto;
  padding: .7rem 1.5rem;
  font-size: 16px;
  border-radius: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: .7rem;
  font-size: 2rem;
}

.get-started-button.authenticated{
  border-radius: var(--radius);
  width: auto;
  margin-inline: auto;
}

@media (max-width: 550px) {
  .getstarted-form{
    width: 100%;
  }
}

@media (max-width: 950px) {
  .getstarted-form-row{
    display: grid;
    grid-template-columns: 1fr;
  }

  .invalid-label{
    grid-row-start: 2;
  }

  .get-started-button{
    border-radius: var(--radius) !important;
    font-size: 1rem !important;
    margin-top: 1rem;
    margin-inline: auto;
  }
}

@media (min-width: 951px) {
  .get-started-button{
    width: 100%;
    justify-content: center;
  }
}