:root{
  --primary: rgb(229, 9, 20);
  --primary-light: rgb(229, 9, 20, 0.5);
  --dark: #141414;
  --radius: 5px;
  --border-color: rgba(100, 100, 100, 0.8);
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.loading-screen{
  background-color: #141414;
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 10rem;
  border-color: var(--primary);
}

/* utility classes */

.rounded{
  border-radius: var(--radius);
}

.display-flex{
  display: flex;
  gap: .7rem;
  align-items: center;
}