:root{
  --primary: rgb(229, 9, 20);
  --primary-light: rgb(229, 9, 20, 0.5);
  --dark: #141414;
  --radius: 5px;
  --border-color: rgba(100, 100, 100, 0.8);
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--dark);
  color: #fff;
}

a{
  text-decoration: none;
}

.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: max(2rem, 5vw);
  border-color: var(--primary);
}

/* utility classes */

.rounded{
  border-radius: var(--radius);
}

.display-flex{
  display: flex;
  gap: .7rem;
  align-items: center;
}